@font-face {
  font-family: "iconfont"; /* Project id 3740157 */
  src: url('iconfont.woff2?t=1667371527221') format('woff2'),
       url('iconfont.woff?t=1667371527221') format('woff'),
       url('iconfont.ttf?t=1667371527221') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tc-homefill:before {
  content: "\e6bb";
}

.tc-dashboard:before {
  content: "\e631";
}

.tc-widget-gallery:before {
  content: "\e671";
}

.tc-datasource24:before {
  content: "\e6ef";
}

.tc-custom-business:before {
  content: "\e638";
}

.tc-group:before {
  content: "\e625";
}

.tc-user1:before {
  content: "\e639";
}

.tc-calendar:before {
  content: "\e626";
}

.tc-area-chart:before {
  content: "\e62a";
}

.tc-scatter-chart:before {
  content: "\e632";
}

.tc-Graph:before {
  content: "\e6ab";
}

.tc-iconloudoutu:before {
  content: "\e644";
}

.tc-map:before {
  content: "\e852";
}

.tc-gauge:before {
  content: "\e6c6";
}

.tc-chartwordcloud:before {
  content: "\e6cd";
}

.tc-radarchart:before {
  content: "\e7cb";
}

.tc-chartpie:before {
  content: "\e670";
}

.tc-kongjiansangjitu:before {
  content: "\e863";
}

.tc-relitu:before {
  content: "\e619";
}

.tc-510tongji_guanxitu:before {
  content: "\e649";
}

.tc-508tongji_xiangxiantu:before {
  content: "\e64d";
}

.tc-507tongji_Kxiantu:before {
  content: "\e64e";
}

.tc-chart-treemap:before {
  content: "\e613";
}

.tc-chart-bar:before {
  content: "\e60c";
}

.tc-chart-line:before {
  content: "\e611";
}

.tc-table:before {
  content: "\e662";
}

.tc-move1:before {
  content: "\e651";
}

.tc-found:before {
  content: "\e60d";
}

.tc-text:before {
  content: "\e63a";
}

.tc-fuzhi:before {
  content: "\e61a";
}

.tc-niantie:before {
  content: "\e61d";
}

.tc-qianjin:before {
  content: "\e646";
}

.tc-chexiao:before {
  content: "\e604";
}

.tc-jiedian:before {
  content: "\e7be";
}

.tc-unlink:before {
  content: "\e6c3";
}

.tc-edit-2:before {
  content: "\e652";
}

.tc-duplex:before {
  content: "\e6eb";
}

.tc-waterfall:before {
  content: "\e606";
}

.tc-calendar1:before {
  content: "\e687";
}

.tc-parallel:before {
  content: "\e60a";
}

.tc-confidence-band:before {
  content: "\e695";
}

.tc-shangyiyiceng:before {
  content: "\e64a";
}

.tc-xiayiyiceng:before {
  content: "\e64b";
}

.tc-bring-upper:before {
  content: "\e600";
}

.tc-send-next:before {
  content: "\e601";
}

.tc-bring-front:before {
  content: "\e647";
}

.tc-send-bottom:before {
  content: "\e648";
}

.tc-selected:before {
  content: "\e602";
}

.tc-unselected:before {
  content: "\e603";
}

.tc-rounded-rect:before {
  content: "\e64c";
}

.tc-palette:before {
  content: "\e9c7";
}

.tc-tubiaozhizuomoban:before {
  content: "\e60f";
}

.tc-rect-text:before {
  content: "\e81a";
}

.tc-rectangle:before {
  content: "\e660";
}

.tc-more-vertical-o:before {
  content: "\e9b3";
}

.tc-preview:before {
  content: "\e7b9";
}

.tc-values:before {
  content: "\e60e";
}

.tc-categories:before {
  content: "\e610";
}

.tc-sortascending:before {
  content: "\eab7";
}

.tc-sortdescending:before {
  content: "\eab8";
}

.tc-vertical-center:before {
  content: "\e605";
}

.tc-align-top:before {
  content: "\e607";
}

.tc-horizontal-center:before {
  content: "\e608";
}

.tc-align-bottom:before {
  content: "\e60b";
}

.tc-align-right:before {
  content: "\e612";
}

.tc-align-left:before {
  content: "\e614";
}

.tc-hbar:before {
  content: "\e615";
}

.tc-dashboard1:before {
  content: "\e6f7";
}

.tc-dashboard2:before {
  content: "\e6c1";
}

.tc-xiugaimima:before {
  content: "\e684";
}

.tc-organization:before {
  content: "\e66b";
}

.tc-forward:before {
  content: "\e6f0";
}

.tc-user_circle:before {
  content: "\e6ae";
}

.tc-xiugaimima1:before {
  content: "\e616";
}

.tc-star:before {
  content: "\e617";
}

.tc-star1:before {
  content: "\e741";
}

.tc-heart:before {
  content: "\e6aa";
}

.tc-heart1:before {
  content: "\e7a0";
}

.tc-iconxiazuan:before {
  content: "\e618";
}

.tc-iconxiazuan1:before {
  content: "\e61b";
}

.tc-cube1:before {
  content: "\e61c";
}

.tc-cube2:before {
  content: "\e61e";
}

.tc-video:before {
  content: "\e630";
}

.tc-iframe:before {
  content: "\e61f";
}

.tc-clock:before {
  content: "\e620";
}

.tc-weiduxuanze:before {
  content: "\e621";
}

.tc-pro-home:before {
  content: "\e623";
}

.tc-pro-ab:before {
  content: "\e624";
}

.tc-icon_phone:before {
  content: "\e79f";
}

.tc-icon_home:before {
  content: "\e79d";
}

.tc-icon_mail_line:before {
  content: "\e7a1";
}

.tc-xiazuan:before {
  content: "\e7e6";
}

.tc-liandong1:before {
  content: "\e742";
}

.tc-search:before {
  content: "\e622";
}

.tc-lijitoudi:before {
  content: "\e627";
}

.tc-quote:before {
  content: "\e6b2";
}

.tc-bullet-subtitle:before {
  content: "\e628";
}

.tc-shortcuts_icon:before {
  content: "\e7d0";
}

.tc-zidingyipaixu:before {
  content: "\e629";
}

.tc-xuniku:before {
  content: "\e64f";
}

.tc-sap:before {
  content: "\e773";
}

.tc-mongodb:before {
  content: "\e63e";
}

.tc-vertical-align-top:before {
  content: "\e7f0";
}

.tc-sqlserver:before {
  content: "\e664";
}

.tc-XfCL:before {
  content: "\e63b";
}

.tc-cassandra:before {
  content: "\e74f";
}

.tc-phoenix-framework:before {
  content: "\e62b";
}

.tc-mysql:before {
  content: "\e62c";
}

.tc-leixing-presto:before {
  content: "\e88c";
}

.tc-ElasticSearch:before {
  content: "\e66e";
}

.tc-ClickHouse:before {
  content: "\e62d";
}

.tc-database-2-fill:before {
  content: "\e766";
}

.tc-impala:before {
  content: "\e726";
}

.tc-pivot-table:before {
  content: "\e724";
}

.tc-KingBI-bianji:before {
  content: "\e8d3";
}

.tc-KingBI-dingshirenwu:before {
  content: "\e8d4";
}

.tc-KingBI-jiagou:before {
  content: "\e8d5";
}

.tc-KingBI-shujuyingyong:before {
  content: "\e8d6";
}

.tc-KingBI-quanbushouqi:before {
  content: "\e8d7";
}

.tc-KingBI-shanchu:before {
  content: "\e8d8";
}

.tc-KingBI-shuaxin:before {
  content: "\e8d9";
}

.tc-KingBI-xinjian:before {
  content: "\e8da";
}

.tc-KingBI-download:before {
  content: "\e8db";
}

.tc-KingBI-xiazaizhongxin:before {
  content: "\e8dc";
}

.tc-KingBI-quanping:before {
  content: "\e8dd";
}

.tc-KingBI-add:before {
  content: "\e8de";
}

.tc-KingBI-shezhi:before {
  content: "\e8df";
}

.tc-KingBI-link:before {
  content: "\e8e0";
}

.tc-KingBI-input-up:before {
  content: "\e8e1";
}

.tc-KingBI-share:before {
  content: "\e8e2";
}

.tc-KingBI-lock:before {
  content: "\e8e3";
}

.tc-KingBI-wendangzhongxin:before {
  content: "\e8e4";
}

.tc-KingBI-input-down:before {
  content: "\e8e5";
}

.tc-KingBI-search:before {
  content: "\e8e6";
}

.tc-KingBI-zuanqu:before {
  content: "\e8e7";
}

.tc-KingBI-source:before {
  content: "\e8e8";
}

.tc-KingBI-widget:before {
  content: "\e8e9";
}

.tc-KingBI-view:before {
  content: "\e8ea";
}

.tc-tianzige:before {
  content: "\e62e";
}

.tc-pivottable:before {
  content: "\e7c1";
}

.tc-KingBI-jiangxu:before {
  content: "\e8eb";
}

.tc-KingBI-shengxu:before {
  content: "\e8ec";
}

.tc-KingBI-shouqi:before {
  content: "\e8ed";
}

.tc-KingBI-zhankai:before {
  content: "\e8ee";
}

.tc-KingBI-zidingyipaixu:before {
  content: "\e8ef";
}

.tc-KingBI-close-fill:before {
  content: "\e8f0";
}

.tc-KingBI-close-line:before {
  content: "\e8f1";
}

.tc-KingBI-tuodong:before {
  content: "\e8f2";
}

.tc-KingBI-information:before {
  content: "\e8f3";
}

.tc-KingBI-fenleixing:before {
  content: "\e8f4";
}

.tc-KingBI-fuzhi:before {
  content: "\e8f5";
}

.tc-KingBI-spot:before {
  content: "\e8f6";
}

.tc-KingBI-tick:before {
  content: "\e8f7";
}

.tc-KingBI-shuzhixing:before {
  content: "\e8f8";
}

.tc-bukejian:before {
  content: "\e8f9";
}

.tc-guanliyuan:before {
  content: "\e8fa";
}

.tc-kejian:before {
  content: "\e8fb";
}

.tc-camera:before {
  content: "\e8fc";
}

.tc-star-fill:before {
  content: "\e8fd";
}

.tc-jiaoseguanli:before {
  content: "\e8fe";
}

.tc-star2:before {
  content: "\e8ff";
}

.tc-jichushezhi:before {
  content: "\e900";
}

.tc-pause:before {
  content: "\e789";
}

.tc-com-attachment:before {
  content: "\e908";
}

.tc-com-left:before {
  content: "\e909";
}

.tc-com-menu:before {
  content: "\e90a";
}

.tc-com-down:before {
  content: "\e90b";
}

.tc-com-details:before {
  content: "\e90c";
}

.tc-com-add:before {
  content: "\e90d";
}

.tc-com-up:before {
  content: "\e90e";
}

.tc-com-message:before {
  content: "\e90f";
}

.tc-com-windowclose:before {
  content: "\e910";
}

.tc-com-user:before {
  content: "\e911";
}

.tc-com-right:before {
  content: "\e912";
}

.tc-com-search:before {
  content: "\e913";
}

.tc-com-edit:before {
  content: "\e914";
}

.tc-com-warning:before {
  content: "\e915";
}

.tc-com-ask:before {
  content: "\e916";
}

.tc-com-success:before {
  content: "\e917";
}

.tc-com-error:before {
  content: "\e918";
}

.tc-dls-geshihua2:before {
  content: "\e919";
}

.tc-dls-baocun:before {
  content: "\e91a";
}

.tc-dls-ziyuanzu:before {
  content: "\e91b";
}

.tc-dls-table:before {
  content: "\e91c";
}

.tc-dls-ziyuanchi:before {
  content: "\e91d";
}

.tc-dls-yunhang:before {
  content: "\e91e";
}

.tc-dls-zhihanglishi:before {
  content: "\e91f";
}

.tc-dls-jar:before {
  content: "\e920";
}

.tc-dls-tab-shujuku:before {
  content: "\e921";
}

.tc-dls-tab-ziyuanchi:before {
  content: "\e922";
}

.tc-dls-database:before {
  content: "\e923";
}

.tc-dls-pyfile:before {
  content: "\e924";
}

.tc-dls-file:before {
  content: "\e925";
}

